@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@font-face {
    font-family: "GT Walsheim Pro";
    src: local("GT Walsheim Pro Regular"), local("GT-Walsheim-Pro-Regular"), url("../assets/fonts/GTWalsheimPro-Regular.woff2") format("woff2"), url("../assets/fonts/GTWalsheimPro-Regular.woff") format("woff"), url("../assets/fonts/GTWalsheimPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

$themeColorBlack: #090909;
$themeColorWhite: #f6f6f6;
$themeColorDarkBlue: #161d30;
$themeColorOrange: #ef3b24;

html {
    body {
        font-family: "GT Walsheim Pro", "Roboto", sans-serif;

        h1, h2, h3, h4, h5, h6, a, p, div {
            color: $themeColorBlack;
        }

        a {
            transition: color .15s ease-in-out;
        }

        a:hover {
            color: $themeColorOrange !important;
        }

        .logo {
            max-width: 70%;
            height: auto;
            transition: all .15s ease-in-out;
            filter: none;

            &:hover {
                filter: drop-shadow(0 0 4px rgba(255, 255, 255, .5));
                transform: scale(1.01);
            }
        }

        #topbar {
            .topbar-items {
                background: rgba($themeColorDarkBlue, .95);
                overflow: hidden;
                padding: 0;
                z-index: 100;
                transition: max-height .5s ease-in-out, padding .7s ease-out;

                &.expanded {
                    max-height: 100vh;
                    padding: 0 1.25rem 1.25rem 1.25rem;
                }

                .topbar-item {
                    &::before {
                        content: "";
                        display: block;
                        position: relative;
                        margin: 0 auto;
                        top: 2em;
                        height: 3px;
                        background-color: $themeColorOrange;
                        width: 0;
                        transition: width 0.3s ease-in-out;
                    }

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }

        }

        #footer, #topbar {
            background: $themeColorDarkBlue;

            div, h4, li, a, p {
                color: $themeColorWhite;
            }
        }
    }

}
