@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@font-face {
    font-family: "GT Walsheim Pro";
    src: local("GT Walsheim Pro Regular"), local("GT-Walsheim-Pro-Regular"),
        url("../assets/fonts/GTWalsheimPro-Regular.woff2") format("woff2"),
        url("../assets/fonts/GTWalsheimPro-Regular.woff") format("woff"),
        url("../assets/fonts/GTWalsheimPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

$themeColorBlack: #090909;
$themeColorWhite: #f6f6f6;
$themeColorDarkBlue: #161d30;
$themeColorOrange: #ef3b24;

html {
    body {
        font-family: "GT Walsheim Pro", "Roboto", sans-serif;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        a,
        p,
        div {
            color: $themeColorBlack;
        }

        a {
            transition: color 0.15s ease-in-out;
        }

        a:hover {
            color: $themeColorOrange !important;
        }

        .logo {
            max-width: 70%;
            height: auto;
            transition: all 0.15s ease-in-out;
            filter: none;

            &:hover {
                filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
                transform: scale(1.01);
            }
        }

        #topbar {
            .topbar-items {
                background: rgba($themeColorDarkBlue, 0.95);
                overflow: hidden;
                padding: 0;
                z-index: 100;
                transition: max-height 0.5s ease-in-out, padding 0.7s ease-out;

                &.expanded {
                    max-height: 100vh;
                    padding: 0 1.25rem 1.25rem 1.25rem;
                }

                .topbar-item {
                    &::before {
                        content: "";
                        display: block;
                        position: relative;
                        margin: 0 auto;
                        top: 2em;
                        height: 3px;
                        background-color: $themeColorOrange;
                        width: 0;
                        transition: width 0.3s ease-in-out;
                    }

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }

        #footer,
        #topbar {
            background: $themeColorDarkBlue;

            div,
            h4,
            li,
            a,
            p {
                color: $themeColorWhite;
            }
        }

        #pagination #pagination-buttons {
            span:not(:last-child) {
                border-right: solid 1px rgba($themeColorDarkBlue, 0.075);
            }

            span {
                border-radius: 8px;
                background-color: $themeColorWhite;

                &:hover {
                    button {
                        color: $themeColorOrange;
                    }
                }

                .active-page {
                    background-color: $themeColorWhite;

                    span {
                        color: $themeColorOrange;
                    }
                }

                button {
                    height: 100%;
                }
            }
        }

        tr:hover i {
            color: $themeColorWhite;
            transition: all 0.05s ease-out;

            &:hover {
                transform: scale(1.2);
                filter: drop-shadow(1px 1px 5px rgba($themeColorBlack, 0.5));

                &:active {
                    transform: scale(0.99);
                }
            }
        }

        .button {
            color: $themeColorWhite;
            background-color: $themeColorOrange;
            border: solid 1px rgba($themeColorDarkBlue, 0.25);
            border-radius: 4px;
            transition: all 0.05s ease-in-out;

            &:hover {
                background-color: lighten($themeColorOrange, 10);
            }

            &:active {
                transform: scale(0.95);
            }
        }

        .menu-item {
            &:hover {
                span,
                i {
                    color: $themeColorOrange;
                }
            }
        }

        .color-black {
            color: $themeColorBlack;
        }

        .color-white {
            color: $themeColorWhite;
        }

        .color-darkblue {
            color: $themeColorDarkBlue;
        }

        .color-orange {
            color: $themeColorOrange;
        }

        .background-black {
            background-color: $themeColorBlack;
        }

        .background-white {
            background-color: $themeColorWhite;
        }

        .background-white-translucent {
            background-color: rgba($themeColorWhite, 0.05);
        }

        .background-darkblue {
            background-color: $themeColorDarkBlue;
        }

        .background-orange {
            background-color: $themeColorOrange;
        }

        .hover-color-black {
            &:hover {
                background-color: $themeColorBlack;
            }
        }

        .hover-color-white {
            &:hover {
                background-color: $themeColorWhite;
            }
        }

        .hover-color-darkblue {
            &:hover {
                background-color: $themeColorDarkBlue;
            }
        }

        .hover-color-orange {
            &:hover {
                background-color: $themeColorOrange;
            }
        }

        .hover-border-color-black {
            &:hover {
                border-color: $themeColorBlack !important;
            }
        }

        .hover-border-color-white {
            &:hover {
                border-color: $themeColorWhite !important;
            }
        }

        .hover-border-color-darkblue {
            &:hover {
                border-color: $themeColorDarkBlue !important;
            }
        }

        .hover-border-color-orange {
            &:hover {
                border-color: $themeColorOrange !important;
            }
        }

        .pretty-border {
            border: solid 1px rgba($themeColorDarkBlue, 0.25);
            border-radius: 4px;
        }
    }
}
